html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.srOnly { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* 
================================================================================ END OF SETUP/NORMALIZE
*/

/* 
================================================================================ GLOBAL
*/

html { font-size: 62.5%; }

h1,
h2,
h3,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

ul {  list-style: none; }


/* 
================================================================================ LAYOUT
*/

.wrapper {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

/* 
================================================================================ TYPOGRAPHY
*/

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

/* 
================================================================================ COMPONENTS
*/

/* ------------------------------------ BUTTONS */
.btn {
  font-size: 1.6rem;
  color: #EEE;
  color: #FAFAFA;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 6px;
  transition: border-color 0.3s;
}

.btn:hover,
.btn:active,
.btn:focus {
  cursor: pointer;
  border-color: #111;
}

.btn:disabled { opacity: 0.4; }
.btn:disabled:hover { cursor: not-allowed;}

.btn--black { background-color: rgb(17, 17, 17); }
.btn--blue { background-color: rgb(70, 130, 180); }
.btn--green { background-color: rgb(39, 174, 96); }
.btn--orange { background-color: orange; }
.btn--red { background-color: rgb(178, 34, 34); }

/* 
================================================================================ BODY
*/

body {
  font-size: 1.6rem;
  background-color: #EEE;
  color: #111;
}

/* 
================================================================================ HEADER
*/

header {
  font-size: calc(10px + 2vmin);
  color:#111;
  padding: 3rem 0;
  background-color: #FAFAFA;
  border-bottom: 2px solid rgba(17,17,17,0.4);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

header h1 {
  /* margin-bottom: 3rem; */
  font-weight: 300;
  letter-spacing: 1px;
  /* color: #27ae60; */
  color: #111;
}

/* 
================================================================================ MAIN
*/

main { padding: 1rem 0; }

/* 
================================================================================ MAIN > TASKBOARD MENU
*/

/* TODO flex or grid? */
.taskBoard__menu {
  background-color: #FAFAFA;
  border-radius: 5px;
  margin-bottom: 2rem;
  padding: 2rem;
  box-shadow: 0 2px 3px rgba(17,17,17,0.4);
  /* display: grid; */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  display: flex;
  justify-content: space-between;
  justify-items: space-between;
  align-items: center;
}

/* ------------------------------------ MAIN > TASKBOARD MENU > LIST FILTER */

.inputContainer__filter {
  display: flex;
  align-items: baseline;
  /* padding: 1rem; */
  justify-content: center;
}

.inputContainer__filter label { 
  opacity: 0.4;
  transition: opacity 0.3s, border-color 0.3s;
}
.inputContainer__filter label:not(:last-of-type) { margin-right: 1rem; }

input[name="listFilter"]:checked + label { opacity: 1; }
input[name="listFilter"]:focus + label { border-color: black; }


/* ------------------------------------ MAIN > TASKBOARD MENU > SEARCH BAR */
.inputContainer__searchBar {
  position: relative;
  display: inline-block;
  /* flex: 1; */
  width: 100%;
  max-width: 320px;
}

.taskBoard__searchBar {
  background-color: #FAFAFA;
  border: 2px solid #111;
  border-radius: 5px;
  padding: 6px 30px 6px 6px;
  width: 100%;
}

.taskBoard__searchBarIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

/* ------------------------------------ MAIN > TASKBOARD MENU > DELETE ALL TASKS */

/* .taskBoard__menu .btn { padding: 1rem; } */

/* 
================================================================================ MAIN > TASK LISTS
*/

.taskLists {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  column-gap: 4rem;
  row-gap: 2rem;
}

.taskList__heading {
  margin-bottom: 1.5rem;
  font-weight: 400;
  border-radius: 5px;
  background-color: #FAFAFA;
  padding: 1.5rem;
  box-shadow: 0 2px 3px rgba(17, 17, 17, 0.4);
}

.taskList__count { margin-left: 1rem; }

.taskList__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
}

/* TODO remove menuBtn if not being used in html */
.taskList__menuBtn {
  float: left;
  border: none;
  background: none;
  padding: 6px 10px;
}

.taskList__addBtn { float: right; }

.taskList__heading--open { border-bottom: 5px solid rgb(178, 34, 34); }

.taskList__heading--open .taskList__count,
.taskList__heading--open .taskList__menuBtn {
  color: rgb(178, 34, 34);
}

.taskList__heading--open .taskList__addBtn { background: rgb(178, 34, 34);}

.taskList__heading--inProgress { border-bottom: 5px solid rgb(70, 130, 180); }

.taskList__heading--inProgress .taskList__count,
.taskList__heading--inProgress .taskList__menuBtn {
  color: rgb(70, 130, 180);
}

.taskList__heading--inProgress .taskList__addBtn { background: rgb(70, 130, 180); }

.taskList__heading--complete { border-bottom: 5px solid rgb(39, 174, 96); }

.taskList__heading--complete .taskList__count,
.taskList__heading--complete .taskList__menuBtn {
  color: rgb(39, 174, 96);
}

.taskList__heading--complete .taskList__addBtn { background: #27ae60; }

/* 
================================================================================ MAIN > TASK ITEMS
*/

.taskItem {
  padding: 2rem 5rem;
  border-radius: 5px;
  position: relative;
  background-color: #FAFAFA;
  min-height: 120px;
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.taskItem__text {
  padding: 0 0 2rem;
  white-space: pre-line;
}

.taskItem__text:hover { cursor: pointer; }


.taskItem--open { box-shadow: 0 2px 3px rgba(178, 34, 34,.8); }
.taskItem--inProgress { box-shadow: 0 2px 3px rgba(70, 130, 180,.8); }
.taskItem--complete { box-shadow: 0 2px 3px rgba(39, 174, 96,.8); }

.taskItem__btn {
  padding: 0 18px;
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  color: #111;
  transition: background-color 0.3s;
}

.taskItem__btn:hover { background-color: #CCC; }

.taskItem__btn--prev {
  left: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.taskItem__btn--next {
  right: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* 
================================================================================ MAIN > TASK ITEMS > TASK FORM
*/

.taskForm { text-align: center; }

.taskForm .inputContainer { margin-bottom: 1rem; }

.taskForm .btn:not(:last-of-type) { margin-right: 0.6rem; }

.taskForm__input {
  width: 100%;
  margin-bottom: 1rem;
}

.taskForm__input--multiline {
  resize: none;
  min-height: 5rem;
}


/* 
================================================================================ FOOTER
*/

footer {
  padding: 2rem 0;
  text-align: center;
}

/* 
================================================================================ MEDIA QUERIES
*/

/* ------------------------------------ MAX-WIDTH 768px */
@media (max-width: 768px) {
  .taskBoard__menu {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
  }
}

/* ------------------------------------ MAX-WIDTH 480px */
@media (max-width: 480px) {
  .inputContainer__filter label:not(:last-of-type) { margin-right: .6rem; }
  .btn {
    font-size: 1.2rem;
  }
}