html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {
  font-size: 62.5%;
}

h1,
h2,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

ul { 
  list-style: none; 
}

body {
  font-size: 1.6rem;
  background-color: #EEE;
  background-size: cover;
  background-position: center;
}

.wrapper {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* text-align: center; */
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 5rem 0;
}

.App-header h1 {
  margin-bottom: 3rem;
  font-weight: 300;
  letter-spacing: 1px;
  color: #27ae60;
}

.App-header input {
  background-color: #EEE;
  padding-left: 15px;
}

.App-link {
  color: #61dafb;
}

.App-main {
  padding: 2rem 0;
}

.taskLists {
  display: flex;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 4rem;
  /* text-align: center; */
}

.taskLists h2 {
  margin-bottom: 1.5rem;
  font-weight: 400;
  /* text-align: left; */
  padding-bottom: 10px;
  border-radius: 5px;
  position: relative;
}

.btn__taskList {
  float: right;
  font-size: 1.6rem;
  /* margin-top: 4px; */
  border-radius: 5px;
  padding: 5px;
  /* border: 0; */
  color: #EEE;
}

.btn__taskList--open {
  border: 2px solid rgb(178, 34, 34);
  background: rgb(178, 34, 34);
}
.btn__taskList--inProgress {
  border: 2px solid rgb(70, 130, 180);
  background: rgb(70, 130, 180);
}

.btn__taskList--complete {
  border: 2px solid #27ae60;
  background: #27ae60;
}

.taskLists .open {
  border-bottom: 5px solid rgb(178, 34, 34);
}

.taskLists .inProgress {
  border-bottom: 5px solid rgb(70, 130, 180);
}

.taskLists .complete {
  border-bottom: 5px solid rgb(39, 174, 96);
}

.taskLists li:not(:last-child) {
  margin-bottom: 2rem;
}


.taskItem {
  padding: 2rem 5rem;
  /* border: 1px solid black; */
  border-radius: 5px;
  position: relative;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  background-color: #FAFAFA;
  min-height: 120px;
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.taskItem__text {
  padding: 0 0 2rem;
  white-space: pre-line;
}

.taskItem__editInput {
  width: 100%;
  resize: none;
  min-height: 5rem;
  margin-bottom: 1rem;
}

.taskItem--open {
  box-shadow: 0 1px 2px rgba(178, 34, 34,.5);
}

.taskItem--inProgress {
  box-shadow: 0 1px 2px rgba(70, 130, 180,.5);
}

.taskItem--complete {
  box-shadow: 0 1px 2px rgba(39, 174, 96,.5);
}

.btn__task {
  border: 0;
  padding: 8px;
  color: #FAFAFA;
}

.btn__task:hover,
.btn__task:focus,
.btn__task:active {
  cursor: pointer;
}

/* TODO remove ? */
.btn__task--edit {
  /* top: 0;
  right: 0; */
  background-color: orange;
  /* border-bottom-left-radius: 5px; */
}
.btn__task--save,
.btn__task--edit,
.btn__task--delete {
  float: right;
}
.btn__task--save {
  background-color: rgb(39, 174, 96);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.btn__task--delete {
  background: none;
  /* top: 5px;
  right: 10px; */
  /* color: black; */
  background-color: rgb(178, 34, 34);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn__task--prev,
.btn__task--next {
  position: absolute;
  top: 0;
  bottom: 0;
  background: none;
  color: black;
  padding: 0 18px;
  transition: background-color 0.3s;
}

.btn__task--prev:hover,
.btn__task--next:hover {
  background-color: orange;
}

.btn__task--prev {
  left: 0;
}

.btn__task--next {
  right: 0;
}

footer {
  padding: 2rem 0;
  text-align: center;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
